<div class="panel-heading">
    <h1>Employee Form</h1>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 panel-body ">
        <form [formGroup]="employeeFormGroup">
            <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
                <label for="fname">First Name</label>
                <input id="fname" class="form-control" formControlName="firstName" placeholder="First name (required)"
                    required>
                <div class="help-block text-danger" *ngIf="firstName.touched">
                    <span *ngIf="firstName.errors?.required">First Name is REQUIRED!!!!</span>
                    <span *ngIf="firstName.errors?.minlength">First Name MUST be Minimum 3 chars!!!!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input id="lname" class="form-control" formControlName="lastName" placeholder="Last name (required)"
                    required>
                <!-- <div class="help-block text-danger" *ngIf="lastName.touched">
                    <span *ngIf="lastName.errors?.required">Last Name is REQUIRED!!!!</span>
                    <span *ngIf="lastName.errors?.minlength">Last Name MUST be Minimum 3 chars!!!!</span>
                </div> -->
            </div>
            <div formGroupName="emailGroup">
                <div class="form-group" [class.has-error]="emailGroup.invalid && emailGroup.touched">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" formControlName="email" placeholder="Email(required)">
                </div>
                <div class="form-group">
                    <!-- [class.has-error]="employeeFormGroup.get('emailGroup.confirmEmail').invalid &&
                    employeeFormGroup.get('emailGroup.confirmEmail').touched"> -->
                    <label for="confirmEmail">Confirm Email</label>
                    <input id="confirmEmail" class="form-control" formControlName="confirmEmail"
                        placeholder="Confirm Email(required)">
                </div>
                <div class="help-block text-danger" *ngIf="emailGroup.errors?.match && emailGroup.touched">
                    Emails does not MATCH!!!
                </div>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input id="mobile" class="form-control" formControlName="mobile" placeholder="Enter Your Phone #">
                <div class="help-block text-danger">
                    <span *ngIf="mobile.errors?.required"> Mobile number is required!!!!!</span>
                    <span *ngIf="mobile.invalid"> Mobile number must be between 8000000000 and 9000000000</span>
                </div>
            </div>
            <div class="form-group">
                <label for="notification">Send Notification: </label>
                <input id="notification" type="radio" formControlName="sendNotification" value="email"
                    (click)="doNotification('email')">&nbsp;Email
                <input id="notification" type="radio" formControlName="sendNotification" value="sms"
                    (click)="doNotification('sms')">Sms
            </div>
            <div class="form-group" [class.has-error]="range.invalid && range.touched">
                <label for="range">Range:</label>
                <input id="range" class="form-control" formControlName="range">
                <div class="help-block text-danger" *ngIf="range.invalid && range.touched">
                    Range Must Be between 10 to 20!!!
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" [disabled]="!employeeFormGroup.valid">Submit</button>
                <button type="button" class="btn btn-secondary" style="margin-left: 30px;" (click)="loadEmployee()">Load
                    Employee</button>
            </div>

        </form>

        <hr>
        <h3>Form Info:</h3>

        <div class="form-info">
            <p>Form Status:{{employeeFormGroup.status}}</p>


            <p> fName Status:{{firstName.status}}</p>


            <p> Form Value:{{employeeFormGroup.value | json}}</p>

        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>